data/*
__pycache__/body_models.cpython-310.pyc
__pycache__/mesh_estimator.cpython-310.pyc
CamSMPLifyX/__pycache__/cam_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/constants.cpython-310.pyc
CamSMPLifyX/__pycache__/hand_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/losses.cpython-310.pyc
CamSMPLifyX/__pycache__/cam_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/constants.cpython-310.pyc
CamSMPLifyX/__pycache__/hand_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/losses.cpython-310.pyc
CamSMPLifyX/utils/__pycache__/__init__.cpython-310.pyc
CamSMPLifyX/utils/__pycache__/image_utils.cpython-310.pyc
CamSMPLifyX/utils/__pycache__/renderer_cam.cpython-310.pyc
CamSMPLifyX/utils/__pycache__/smplx_openpose.cpython-310.pyc
CamSMPLifyX/utils/__pycache__/vertex_ids.cpython-310.pyc
CamSMPLifyX/__pycache__/cam_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/constants.cpython-310.pyc
CamSMPLifyX/__pycache__/hand_smplifyx.cpython-310.pyc
CamSMPLifyX/__pycache__/losses.cpython-310.pyc
core/__pycache__/__init__.cpython-310.pyc
core/__pycache__/camerahmr_model.cpython-310.pyc
core/__pycache__/constants.cpython-310.pyc
core/__pycache__/densekp_trainer.cpython-310.pyc
core/__pycache__/losses.cpython-310.pyc
core/backbones/__pycache__/__init__.cpython-310.pyc
core/backbones/__pycache__/vit.cpython-310.pyc
core/cam_model/__pycache__/__init__.cpython-310.pyc
core/cam_model/__pycache__/fl_net.cpython-310.pyc
core/cam_model/backbone/__pycache__/__init__.cpython-310.pyc
core/cam_model/backbone/__pycache__/hrnet.cpython-310.pyc
core/cam_model/backbone/__pycache__/utils.cpython-310.pyc
core/components/__pycache__/__init__.cpython-310.pyc
core/components/__pycache__/pose_transformer.cpython-310.pyc
core/components/__pycache__/t_cond_mlp.cpython-310.pyc
.gitignore
core/datasets/__pycache__/__init__.cpython-310.pyc
core/datasets/__pycache__/dataset.cpython-310.pyc
core/datasets/__pycache__/utils.cpython-310.pyc
core/heads/__pycache__/__init__.cpython-310.pyc
core/heads/__pycache__/smpl_head_keypoints.cpython-310.pyc
core/heads/__pycache__/smplx_head_cliff_with_hands.cpython-310.pyc
core/utils/__pycache__/__init__.cpython-310.pyc
core/utils/__pycache__/geometry.cpython-310.pyc
core/utils/__pycache__/pylogger.cpython-310.pyc
core/utils/__pycache__/renderer_pyrd.cpython-310.pyc
core/utils/__pycache__/train_utils.cpython-310.pyc
core/utils/__pycache__/utils_detectron2.cpython-310.pyc
